<div class="row justify-content-center p-3 p-md-5">


  <div [@routeAnimations] class="col-md-10">

    <mat-accordion style="width: 100%">

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            2004-2006 Keko Varicon
          </mat-panel-title>
        </mat-expansion-panel-header>
        <b>Final control technician</b><br>

        My job entailed conducting final stress test for varistors, which are used to protect against excessive
        transient voltages. While working there I had my first real world encounter with programming in the form of the
        Excel`s macros. After doing the before mentioned stress tests I had to fill out a lenghty report every time a
        specific test was conducted. As my work load got heavier I was looking for a way to expedite my work, so I
        resorted to study how Excel macros are recorded so my work flow would be accelerated and be more precise. After
        seeing how much easier and hassle-free my work was from that point on I really appriciated the automation aspect
        of programming and it`s real world applications.
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            2006-2008 HYB
          </mat-panel-title>
        </mat-expansion-panel-header>
        <b>Line maintenance technician / night shift leader</b><br>

        My job entailed maintaining the uninterrupted line process of INVASIVE BLOOD PRESSURE MEASUREMENT devices. At
        that job I learned the importance of communication with co-workers especially working in the night shift where
        sometimes tensions got a little high and it was crucial to keep workers motivated and concentrated so the
        process line was not effected.
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            2010-2022 Lek d.d.
          </mat-panel-title>
        </mat-expansion-panel-header>
        <b>Chemical production technician (currently working)</b><br>
        My job entails insuring the continues chemical process of a particual product.
      </mat-expansion-panel>

    </mat-accordion>

  </div>
</div>