

<div [@routeAnimations] class="global-div" >

  <h1>My programming journey</h1>

  <p>

    As far as I can remember I was fascinated with programming. The sheer
    fact of something comming alive by typing a few characters, numbers and
    commands was mind boggling.
    As much as I was dazzled with the idea of programming and a programming
    education leading to a profession, for some reason I chose the field of
    electronics.
  </p>
  <div class="gallery-container">
    <div class="gallery">
      <img *ngFor="let image of images; let i = index"
           [src]="image.src"
           [alt]="image.alt"
           [class.active]="i === currentIndex"
           (load)="imageLoaded()"
           (animationend)="animationEnd()"
           (transitionend)="transitionEnd()">
    </div>
  </div>
  <p>
    Like I described in my biography it wasn`t until my job where I decided
    to learn Excel`s macros that I found my love and appreciation for
    programming. As of that point on I always dabbled with a few projects
    here and there be it programming simple games, learning javascript
    through various applications and learning to build web sites with
    DreamWeaver.
  </p>
  <p>
    In 2018 I was introduced to blockchain and the programming language
    Solidity which is used to program smart contracts and from that point on
    I decided to turn all my focus into learning how to develop
    decentralized applications and testing smart contracts.
  </p>
  Here are some technologies I’ve been working with recently:
  <ul class="pt-2">
    <li class="fs-3 pt-2">Javascript</li>
    <li class="fs-3 pt-2">Node.js</li>
    <li class="fs-3 pt-2">Postman</li>
    <li class="fs-3 pt-2">Selenium</li>
    <li class="fs-3 pt-2">Selenium IDE</li>
  </ul>

</div>



