<div class="row justify-content-center p-3 p-md-5">


<div [@routeAnimations] class="col-md-8 global-div">

  <p>
    A ISTQB Certified QA Automation Tester with expertise in manual and automated testing.
    <br />
    <br />
    Naturally <span class='blue_glow'>curious</span>, a <span class='blue_glow'>problem solver</span>, people
    person, driven with <span class='blue_glow'>positivity</span> and a healthy dose of <span class='blue_glow'>
  daily humor</span>. Fascinated with every aspect of the web development building process
    but especially the testing side of the spectrum.
  </p>



</div>
</div>