<div class="row justify-content-center p-3 p-md-5">


<div [@routeAnimations] class="col-md-8 global-div">

  <p>
    An aspiring full stack applications tester in the E2E technology,
    residing in Slovenia.
    <br />
    <br />
    Naturally<span> curious</span>, a<span> problem solver</span>, people
    person, driven with <span> positivity</span> and a healthy dose of<span>
      daily humor</span>. Fascinated with every aspect of the web development building process
    but especially the testing side of the spectrum.
  </p>
</div>
</div>