<div class="background-header">
  <div class="container-fluid col-xxl-8 px-4 pt-5">
    <div class="row flex-lg-row align-items-center g-5">

      <div class="col-sm-8 col-lg-6">
        <img src="/assets/images/me-removebg.png" class="d-block mx-lg-auto img-fluid" alt="Danijel"
             loading="lazy">
      </div>

      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Hi, my name is DANIJEL</h1>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Linkedin</button>
        </div>
      </div>

    </div>
  </div>
</div>

<app-app-toolbar></app-app-toolbar>
