<div class="background-header">
  <div class="container-fluid col-xxl-8 px-4 pt-2">
    <div class="row flex-lg-row align-items-center justify-content-center g-5">

      <div class="col-sm-8 col-lg-6 text-center">
        <img src="/assets/images/me-removebg.png" class="d-block mx-auto img-fluid" alt="Danijel"
             loading="lazy">
      </div>

      <div class="col-lg-6 text-center">
        <div class="fs-4 fw-bold mb-3 text-warning">Hi, my name is</div>
        <div class="fs-1 fw-bold fst-italic mb-3 text-warning">DANIJEL</div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <div class="px-4 pt-5">
            <a href="https://www.linkedin.com/in/danijel-krivec-7b0b3b1b1/" target="_blank">
              <img src="assets/images/linkedin.png" style="height: 50%" alt="linkedin">
            </a>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-app-toolbar></app-app-toolbar>
